@font-face {
  font-family: 'Atkinson Hyperlegible';
  src: url('/fonts/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Italic';
  src: url('/fonts/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Bold';
  src: url('/fonts/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atkinson Hyperlegible Bold Italic';
  src: url('/fonts/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/*! Dirtyline Studio Dx Kord is licensed to Ingo Steinke */
@font-face {
  font-family: 'Dx Kord';
  src: url('/fonts/Dx-Kord-Variable.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply font-normal not-italic text-base text-lg font-atkinson m-0 p-0;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold font-dx-kord break-words m-0 pt-4 leading-none text-blue-violet;
  }

  h1 {
    @apply text-6xl md:text-7xl lg:text-8xl lg:text-clamp-10ch;
  }

  h2 {
    @apply text-5xl lg:text-7xl;
  }
  .custom-seo-descriptions {
    display: none;
  }
}

@layer components {
  .custom-grid-container {
    @apply container xl:clear-both mx-auto pl-4 pr-12;
  }
  /* TODO fix mobile behavior */
  .custom-grid-has-row-behavior .custom-shifted {
    margin-left: 9.5rem;
    margin-right: -9.5rem;
  }
  .custom-grid-has-row-behavior .row:not(.row-1) {
    margin-top: -6rem;
    margin-bottom: 0;
  }
  .custom-hex-tile {
    @apply w-[19rem] max-w-full h-96 flex flex-col justify-center items-center font-atkinson;
    clip-path: polygon(
      50% 0%,
      100% 25%,
      100% 75%,
      50% 100%,
      0% 75%,
      0% 25%);
  }
  .custom-hex-tile-inner {
    @apply w-80 max-w-full h-96 m-0 bg-blue-sky p-1 text-center;
  }
  .custom-hex-tiles-wrapper {
    @apply flex flex-nowrap space-x-1 font-dx-kord text-blue-violet;
  }
  .custom-icons-wrapper {
    @apply flex flex-nowrap space-x-1 mt-1;
  }
  .custom-icons-wrapper img,
  .custom-icons-wrapper svg {
    height: 23px;
    width: auto;
  }
  .custom-hex-tile h3 {
    @apply font-dx-kord text-2xl max-w-full text-ellipsis line-clamp-3;
  }
  .custom-hex-tile .author {
    @apply max-w-full text-ellipsis line-clamp-3;
  }
}
