---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Dev-UX Bookmarks">
  <h1>About Dev-UX Bookmarks</h1>
  <p>
    Discover interesting recommendations related to web design, web development,
    DevUX collaboration/co-creation, UX/UI, accessibility, sustainable web
    design, and sustainable web development. Coming soon here: a simple web app
    for digitizing your stack of uunread textbooks. Without registration, you
    can bookmark, view, and print your individual list. Your bookmars will only
    be stored on your own computer or smartphone. Registered readers can add or
    suggest new and edit existing entries. Further functionality like adding by
    scanning barcodes are planned, but not implemented yet.
  </p>

  <h2>Links and Reading List</h2>
  <p>
    In advance, here is a list of links and reading recommendations about
    Dev-UX, UX/UI design, usability, JavaScript, sustainable and accessible web
    devlopment, plus technical and social aspects of so-called artificial
    intelligence and fundamentals of applied computer science.
  </p>

  <h2>Bookmarks, Books and what else?</h2>
  <p>
    This website features watch lists and recommendations for books, in the
    sense of anything printable published with or without an ISBN, including
    self-published ebooks, but no websites. Auf dieser Seite geht es um
    Merklisten und Empfehlungen für Bücher, also alles was mit oder ohne eigene
    ISBN auf dem Buchmarkt erschienen ist. Dazu gehören grundsätzlich auch
    E-Books im Self Publishing, aber keine Webseiten. If you are interested in
    bookmarks of this kind, you will already find many offers.
  </p>

  <h2>Topics, Tags, and Categories</h2>
  <p>
    Our book lists are initially described in a rather minimalistic way: autor,
    title, <strike>ISBN</strike> and tags should be enough, at least that's what
    I thought when I started this project, as anything else can be retrieved based
    on ISBN numbern. In practice it's not that easy. The same content, as hardcover,
    paperback, or ebook, must have its own ISBN, and the modern ISBN13 and the shorter
    ISBN10 can be written with or without dashes. Some books don't have an ISBN at,
    when they were "self-published", for example at Leanpub. Author and title are
    neither redundant nor normalized. Autor und Titel sind ebensowenig redundant
    wie eindeutig normaliert. Although there are different author identifiers here
    too, ‘J. Smith’ could stand for several different people. What we are foregoing
    for the time being, as well as the publisher, distributor, seller, price and
    sources for second-hand goods, which should be of particular interest in the
    case of out-of-print titles. Categorisation is always difficult; tagging using
    (hash) tags would be easier to implement and expand.
  </p>

  <h2>Searching Hidden Fields</h2>
  <p>
    I decided to hide most information, including an optional long description,
    for the sake of visual clarity. However, hidden fields are searchable, so
    you can find a book by matching text, ISBN etc.
  </p>

  <h2>Authors, Languages, and Formats</h2>
  <p>
    English and international books are eligible for inclusion,
    but you can suggest French, Arabic or any other titles as well.
    If a book was published in German, the German language edition should be prefered.
    Known exceptions include, among others, a podcast episode in Arabic featuring
    an interview with Sara Soueidan and several blogs, slides and podcasts by
    notable people who have not yet published any printed books.
  </p>

  <p>
    Older books in the list are often still interesting, especially since some have been
    revised and republished. The selection remains eclectic and is also
    influenced by personal encounters at conferences and meetups, thus representing
    a personal selection by me (Ingo Steinke). Please understand this incomplete
    list as inspiration to search for further interesting reading yourself,
    whether in print or online.
  </p>

  <h2>Amendments and Corrections</h2>
  <p>
    If you spot any error, please feel free to send us an informal message.
    Alternatively you can apply to become an editors. The maintainers reserve
    the right not to include works or to delete existing entries without giving reasons.
  </p>

  <h2 id="imprint">Imprint</h2>
  <p>
    Responsible for this offer:
    <a href="https://www.ingo-steinke.de" target="_blank" rel="noopener"
      >Ingo Steinke, web developer</a
    >, Donaustr. 83, 12043 Berlin.
  </p>

  <h2>Disclaimer</h2>
  <p>
    This is a free web app that comes as-is without any kind of warranty!
    Everything is subject to change or termination at any time. This is a
    public beta software mainly intended as an example for practicing web
    development using Astro, React, and TypeScript.
    If you think you need a similar kind of app,
    Wenn du selbst eine ähnliche App
    gebrauchen kannst, request a non-binding quote!
  </p>
</Layout>
