---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.tsx';
---

<Layout title="Dev-UX-Lesezeichen">
    <h1>App - Dev-UX-Lesezeichen</h1>

    <Card title="Titel" description="text" />

</Layout>
