---
import Layout from '../layouts/Layout.astro';
import Grid from '../components/BooksGridInitial.astro';
---

<Layout title="Dev-UX-Lesezeichen">
  <h1>App - Dev-UX-Lesezeichen</h1>
  <Grid />
</Layout>
