---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title='Über Dev-UX-Lesezeichen'
  headline='Über Dev-UX-Lesezeichen'
  lang='de'
  metadescription='Lesezeichen für Webdesign, UX und Webentwicklung'
>
  <p>
    Entdecke interessante Vorschläge aus den Bereichen Webdesign,
    Webentwicklung, DevUX-Kollaboration/Co-Creation, UX/UI, Barrierefreiheit,
    nachhaltiges Webdesign und nachhaltige Webentwicklung. Vielleicht bald an
    dieser Stelle: eine einfache Web-App zur digitalisierung deines Stapels
    ungelesener Fachbücher. Lesezeichen können ohne Anmeldung gesetzt, angesehen
    und ausgedruckt werden. Deine Lesezeichen werden dann nur auf deinem eigenen
    Computer bzw. Smartphone gespeichert. Angemeldete Leserinnen und Leser
    können selbst Bücher hinzufügen und bestehende Einträge bearbeiten. Weitere
    Funktionen wie das Einlesen von Titeln durch Scannen von Barcodes sind
    geplant, aber zurzeit noch nicht möglich.
  </p>

  <h2>Work in Progress</h2>
  <p>
    Dies ist eine unvollendete "Work in Progress" -Vorschauversion eines
    experimentellen Web-Projekts.
  </p>

  <h2>Links und Literaturliste</h2>
  <p>
    Vorab erscheint zwischenzeitlich eine Liste mit Links und Leseempfehlungen
    zu Dev-UX, UX/UI-Design, Usability, JavaScript, nachhaltiger und
    barrierefreier Webentwicklung, sowie technische und soziale Aspekte
    sogenannter künstlicher Intelligenz und Grundlagen der angewandten
    Informatik.
  </p>

  <h2>Lesezeichen, Bookmarks, Bücher?</h2>
  <p>
    Auf dieser Seite geht es um Merklisten und Empfehlungen für Bücher, also
    alles was mit oder ohne eigene ISBN auf dem Buchmarkt erschienen ist. Dazu
    gehören grundsätzlich auch E-Books im Self Publishing, aber keine Webseiten.
    Wenn du an derartigen Bookmarks interessiert bist, findest du bereits viele
    Angebote.
  </p>

  <h2>Themen, Tags und Kategorien</h2>
  <p>
    Unsere Bücherlisten werden zunächst recht minimalistisch beschrieben: Autor,
    Titel, <strike>ISBN</strike> und Tags sollten genügen, dachte inch anfangs, und
    weitere objektive Informationen ließen sich größtenteils dynamisch anhand der
    ISBN ermitteln. In der Praxis ist das gar nicht so einfach. Der gleiche Inhalt
    muss als gebundenes Format, Taschenbuch oder E-Book jeweils mindestens eine eigene
    ISBN haben. Zudem gibt es neben der modernen ISBN13 teilweise alternative kürzere
    ISBN10-Angaben, und manche Bücher haben gar keine solche Nummer, wenn sie im
    sogenannten Self-Publishing, beispielsweise bei Leanpub, veröffentlicht wurden.
    Autor und Titel sind ebensowenig redundant wie eindeutig normaliert. Obwohl es
    auch hier verschiedene Autorenkennungen gibt, könnten "J. Smith" hier für mehrere
    verschiedene Personen stehen. Worauf wir bis auf weiteres verzichten, wie auch
    auf Herausgeber, Verlag, Verkäufer, Preis und Bezugsquellen für Gebrauchtwaren,
    was besonders bei vergriffenen Titeln interessant sein dürfte. Eine Kategorisierung
    ist immer schwierig, eine Verschlagwortung mithilfe von (Hash-) Tags wäre einfacher
    umzusetzen und zu erweitern.
  </p>

  <h2>Ausgeblendete Felder durchsuchen</h2>
  <p>
    Die meisten Informationen, einschließlich einer optionalen langen
    Beschreibung, werden aus Gründen der visuellen Übersichtlichkeit zunächst
    angezeigt. Ausgeblendete Felder sind jedoch durchsuchbar, sodass ein Buch
    anhand von Text, ISBN usw. auffindbar ist.
  </p>

  <h2>Autorinnen, Autoren, Sprachen und Formate</h2>
  <p>
    Grundsätzlich können Fachbücher in allen Sprachen in die Liste aufgenommen
    werden, zumal viele Fachbücher im IT- und Design-Bereich ohnehin nicht auf
    Deutsch, sondern hauptsächlich auf Englisch erschienen sind. Wenn ein Buch
    auf Deutsch herausgegeben wurde, sollte bevorzugt die deutsche Sprachausgabe
    aufgenommen werden. Zu den Ausnahmen zählen unter anderem eine Podcast-Folge
    in arabischer Sprache mit Sara Soueidan sowie einige Blogs, Slides und
    Podcasts von wichtigen Persönlichkeiten, die bislang keine gedruckten Bücher
    veröffentlicht haben.
  </p>

  <p>
    Ältere Bücher in der Liste sind oft immer noch interessant, zumal manche in
    überarbeiteten Auflagen erschienen. Die Auswahl bleibt eklektisch und auch
    von persönlichen Begegnungen auf Kongressen und Meetups beeinflusst, stellt
    somit eine persönliche Auswahl von mir (Ingo Steinke) dar. Versteht es bitte
    als Inspiration, selbst nach weiterer interessanter Lektüre zu suchen, sei
    es gedruckt oder online.
  </p>

  <h2>Ergänzungen und Korrekturen</h2>
  <p>
    Falls du Fehler finden solltest, sende uns gerne eine formlose Nachricht.
    Alternativ kannst du einen Zugang zum Bearbeiten beantragen, um selbst
    fehlende Informationen und Einträge zu ergänzen und bestehende Lesezeichen
    zu erweitern und zu korrigieren. Grundsätzlich bleibt es den Betreibern
    vorbehalten, Werke nicht aufzunehmen oder bestehende Einträge ohne Angaben
    von Gründen zu löschen.
  </p>

  <h2 id='impressum'>Impressum</h2>
  <p>
    Verantwortlich für dieses Angebot ist
    <a href='https://www.ingo-steinke.de' target='_blank' rel='noopener'
      >Ingo Steinke, Webentwickler</a
    >, Donaustr. 83, 12043 Berlin.
  </p>

  <h2>Haftungsausschluss (Disclaimer)</h2>
  <p>
    Diese Web-App wird ohne Gewähr gratis bereitgestellt und kann sich jederzeit
    ändern oder abgeschaltet werden. Markennamen und Buchcover sind
    möglicherweise rechtlich geschützt. Bei dieser App handelt sich um
    öffentliche Beta-Software, die hauptsächlich als Beispiel für die
    Programmierung mit Astro, React, TypeScript und Tailwind dient. Wenn du
    selbst eine ähnliche App gebrauchen kannst, fordere gerne ein
    unverbindliches Angebot an!
  </p>
</Layout>
