---
const books = [
  {
    id: '1',
    title: 'Designing with the Mind in Mind',
    author: 'Jeff Johnson',
    description: 'A practical guide to understanding human perception and cognition in UI design',
    coverUrl: '/books/designing-mind.jpg'
  },
  {
    id: '2',
    title: 'Don\'t Make Me Think',
    author: 'Steve Krug',
    description: 'A common sense approach to web usability',
    coverUrl: '/books/dont-make-me-think.jpg'
  },
  {
    id: '3',
    title: 'The Inmates Are Running the Asylum',
    author: 'Alan Cooper',
    description: 'Why high tech products drive us crazy and how to restore the sanity',
    coverUrl: '/books/inmates.jpg'
  }
];
---

<ul>
  {books.map((book) => (
    <li>
      <h2>{book.title}</h2>
      <p>{book.author}</p>
      <img src={book.coverUrl} alt={`Cover of ${book.title}`} />
    </li>
  ))}
</ul>
