<div class="custom-seo-descriptions initially-hidden" aria-hidden="true">
  <p lang="de">
    Dev-UX-Lesezeichen bietet eine durchsuchbare Liste von Büchern mit
    Schwerpunkt auf Themen wie Webdesign, Webentwicklung, DevUX-Zusammenarbeit,
    UX/UI, Barrierefreiheit, nachhaltiges Webdesign und nachhaltige Entwicklung.
    In Zukunft soll daraus eine interaktive Web-App entstehen, um deinen Stapel
    ungelesener Fachbücher zu digitalisieren und empfohlene Bücher als Favoriten
    oder ungelesen zu markieren.
  </p>
  <p lang="en">
    Dev-UX-Lesezeichen provides a searchable list of books, especially focused
    on topics like web design, web development, DevUX collaboration, UX/UI,
    accessibility, sustainable web design, and sustainable development. In the
    future, an interactive web app will help digitize a user's stack of unread
    professional books and mark suggested books as favorite or unread.
  </p>
</div>
